/* General Styles */
body {
  background-color: #F9F9F9;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th, td {
  padding: 12px;
  text-align: left;
}

thead {
  background-color: #555;
  color: #FFF;
}

th {
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="button"] {
  background-color: #4CAF50;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #3E8E41;
}

/* Specific Styles */
h1 {
  color: #555;
}

h2 {
  color: #777;
  margin-top: 50px;
}

table {
  margin-top: 30px;
}

form {
  margin-top: 50px;
}

form label {
  font-size: 20px;
}

form select,
form input[type="number"] {
  font-size: 20px;
}

button[type="button"] {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
}

button[type="button"]:hover {
  background-color: #4CAF50;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1, h2 {
    font-size: 30px;
  }

  table {
    font-size: 14px;
  }

  form label {
    font-size: 16px;
  }

  form select,
  form input[type="number"] {
    font-size: 16px;
  }

  button[type="button"] {
    font-size: 16px;
    margin-top: 10px;
  }
}
